/*=========================================================================
							General
=========================================================================*/
	body{
		background-color: #c4c4c4;
	}
	#encabezado.form-control{
		margin-top: 10px;
		margin-bottom: 10px;
		height: 100%;
		color:#00285b;
		border: 10px solid #4899cb;
	}

/*=========================================================================
								INDEX
=========================================================================*/
	#cabezera{
		height: 100%;
		color:#00285b;
		border: 10px solid #4899cb;	
		text-align: center;
		height: 150px;
		margin-bottom:  10px;
	}
	#centro{

	}

	#izquierda img{
		width:200px;
		float: left;
		margin-top: -40px;
	}
	#derecha img{
		height:200px;
		float: right;
		margin-top: -40px;
	}
	#menu{
		margin-top: 10px;
	}

/*=========================================================================
								PERSONALES
=========================================================================*/
	#subtitulo{
		height: 100%;
		padding-bottom: 0px;
		padding-top: 0px;
		margin-bottom: 5px;
		text-align: center;
		color:#00285b;
	}
	#subtitulo1{
		border: none;
		margin-left: -10px;
		margin-bottom: 20px;
		color: #00285b;
		font-size: 20pt;
		text-decoration-color: #34c6d3;
		text-decoration-line: underline;
	}
	#siguiente{
		text-align: right;
		border: none;

	}
	#atras{
		text-align: left;
		border: none;
		
	}
	.content-title-underline{
		width: 30px;
		height: 3px;
		background-color: #34c6d3;
		margin: auto;
	}
	#personales.form-control{
		/*width: 1300px;*/
		height: 100%;
		background-color: #4899cb;
		/*background-color: #00285b;*/
	}

	#contenido-form{
		/*margin-top: 30px;*/
		margin: auto;
		color:#4899cb;
	}
	#contenido-form.form-control{
		height: 100%;
	}
/*=========================================================================
								ANTECEDENTES
=========================================================================*/
	#seleccion{
		height: 100%;
		text-align: center;
		margin-right: 5px;
		height: 90px;
	}
	#titu{
		height: 100%;
		text-decoration-color: #34c6d3;
		text-decoration-line: underline;
	}	
	#eleccion{
		margin-top: -30px;
		float:none;
	}
	#decicion{
		height: 100%;
	}
	#nom{
		height: 100%;
		text-decoration-color: #34c6d3;
		text-decoration-line: underline;
	}
	
	#sino{
		height: 100%;
		height: 85px;
		text-align: center;
		/*display: table;*/
	}
	#sino1{
		height: 100%;
		text-align: center;
	}
	#si{
		float: center;
		margin-right: 10px;
	}
	#no{
		float: center;
	}
	#tamano{
		float: center;	
	}
/*=========================================================================
								EXAMENES
=========================================================================*/
	#sino2{
		height: 100%;
		
		text-align: center;
		/*display: table;*/
	}
/*=========================================================================
								LABORATORIO
=========================================================================*/
	#labo{
		height: 100%;
		text-align:center;
	}

	#labo1{
		 margin-bottom: 10px;
	}
/*=========================================================================
								LABORATORIO
=========================================================================*/
	#sino3{
		text-align: center;
		height: 100%;
	}
